.plainbutton {
    -fx-border-radius: 5px;
    -fx-border-color: seagreen;
}
.plaintextfield {
    -fx-border-radius: 5px;
    -fx-border-color: seagreen;
    -fx-opacity: .75;
}
.plainlabel {
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(1, 66, 1);
    -fx-font-weight: bold;
    -fx-padding: 3px;
}
.largelabel {
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-font-color: rgb(1, 66, 1);
    -fx-border-color: rgb(1, 66, 1);
    -fx-border-radius: 5px;
    -fx-padding: 6px;
    -fx-border-width: 3px;
}
.mainpane {
    -fx-border-color: black;
    -fx-padding: 5px 10px 5px;
    -fx-background-image: url("barterLogo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.minorpane {
    -fx-border-radius: 5px;    
    -fx-padding: 10px;
}
.infopane {
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-padding: 15px;
}
.menubar {
    -fx-border-color: green;
    -fx-border-radius: 5px;
}
.tabpane {
    -fx-border-color: green;
    -fx-border-radius: 5px;
}
.tableview {
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-opacity: .75;
}