.plainbutton {
    -fx-border-color: mediumblue;
}
.plaintextfield {
}
.plainlabel {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-label-padding: 2, 2, 2, 2;
    -fx-font-weight: bold;
}
.largelabel {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-font-size: 18; 
    -fx-font-weight: bold;
    -fx-label-padding: 10;
}
.mainpane {
    -fx-padding: 0, 15, 15, 15;
    -fx-border-color: black;
    -fx-border-width: 10;
}
.minorpane {
    -fx-padding: 15, 15, 15, 15;
    -fx-background-insets: 10;
    -fx-border-width: 10;
}
.minipane {
    -fx-border-width: 2;
    -fx-padding: 10;
}